{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "dotnet clean --configuration Release",
        "publishCmd": "dotnet pack --configuration Release"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "bin/Release/*.nupkg",
            "label": "Nuget Pakcage"
          }
        ]
      }
    ]
  ]
}
